/* Todos los elementos de la página 
Tamaño de fuente: 16px
Familia de fuentes:Arial, Helvetica, sans-serif;

Todos los párrafos de la página 
color: #555;

Todos los párrafos contenidos en #primero 
color: #369;

Todos los enlaces de la página 
color: #C30;

Los elementos <em> contenidos en #primero 
color: #0000BB;
background-color: #FFFFCC;

Todos los elementos <em> con la clase "especial" en toda la página 
color: #FFFF00;
background: #000000;

Todos los elementos <span> contenidos en la clase "normal" 
font-weight: bold;
*/ 

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p{
    --color-de-texto:#555;
}

#primero{
    color:#369;
    em{
        color: #0000BB;
        background-color: #FFFFCC;
    }
}

a{
    color:#C30;
}

em.especial{
        color: #FFFF00;
        background: #000000;
}
.normal span{
    font-weight: bold;
}

